*~
*.swp
*.swo

*.npz
*.spm
*.s2t
*.gz

*.bin
eval/
speed/
quantmults
models.json

# faen/enfa specific gitignore since they are downloaded by the scripts
enfa/enfa.teacher.base/enfa.bpe
enfa/enfa.teacher.base/tc.en
enfa/enfa.teacher.base/tc.fa
enfa/enfa.teacher.base/vocab.enfa.yml
faen/faen.teacher.base/faen.bpe
faen/faen.teacher.base/tc.en
faen/faen.teacher.base/tc.fa
faen/faen.teacher.base/vocab.faen.yml

# bgen/enbg specific gitignore since they are downloaded by the scripts
bgen/bgen.student.teacher0/
bgen/bgen.student.teacher1/
bgen/bgen.student.tiny11-nonfinetune/model.npz.decoder.yml
bgen/bgen.student.tiny11/model.npz.decoder.yml
bgen/enbg.student.teacher0/
bgen/enbg.student.teacher1/
bgen/enbg.student.tiny11-nonfinetune/model.npz.decoder.yml
bgen/enbg.student.tiny11/model.npz.decoder.yml
